
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexHello</title>
</head>

<body>
    <div>
        <h3>IndexHello</h3>
        <br />
        你好! 當你input this two 網址，都會跳到這個view screen~ <br/> <br/>
        (1) http://你的網站/Lesson1/Index<font color="red">1A</font> <br/> <br/>
        (2) http://你的網站/Lesson1/Index<font color="red">1B</font> <br /> <br />

        直接瀏覽這個網頁，將會出錯。Because Controller裡面，沒有對應的Action.

    </div>
</body>
</html>
