
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3A</title>
</head>
<body>
    <div>
        <h2>從Controller傳遞data to View screen #two </h2>
        <hr />
        ViewData answer: @ViewData["XYZ"]  <br />
        ViewBag answer: @ViewBag.XYZ        <br />
        <hr />
        <br />
    </div>
</body>
</html>
