
@{
    Layout = null;
    @*Remark: produce view 時，not use any "版面配置頁" (類似Web Form 的 MasterPage 母版頁面)*@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index - This is a blank view screen</title>
</head>
<body>
    <div> 
        <h3>Index</h3> - This is a blank view screen.
    </div>
</body>
</html>
