
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div> 
        <h2>從Controller傳遞data to View screen</h2>
        <hr />
        ViewData answer: @ViewData["A"]  <br />
        ViewBag answer: @ViewBag.B        <br />
        TempData["C"] answer: @TempData["C"]  <br />
        <hr />
        <br />
    </div>
</body>
</html>
